*
{
    padding: 0;
    margin: 0;
    font-family: cairo,sans-serif;
    box-sizing: border-box;
    
}
body
{
	min-width:250px;
}
/* -----------------header and nav------------------- */
header
{
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.6)), url(../images/bg.jpg );
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height:100vh;
    z-index: 1;
}
.container{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    justify-content: center;
    z-index: 11;
    align-items: center;
}
nav
{
    display: flex;
    justify-content: right;
    width: 100%;
    height: 42px;
    transition: 0.9s;
}

.container .border-bottom
{
    width: 75%;
    background-color: white;
    height: 1px;
    
    
}
nav .logo-con
{
    width: 150px;
}

nav  .logo
{
    display: flex;
    text-decoration: none;
    font-size: 1.9em;
    letter-spacing: 3px;
    justify-content: left;
    width: 120px;
    text-align: center;
    align-items: center;
    color: white;
        
}

nav ul 
{
    display: flex;
    margin: auto 0;
    list-style: none;
    width: 76%;
    justify-content: center;
    

}

nav li 
{
    margin: auto 60px auto 0;
    width: 8%;
    
}

nav li a
{
    display: flex;
    position: relative;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    font-weight: 500;
    padding: 0 2em;
    border-radius: 3px;  
    transition: all 0.4s ;
}

nav li a::before
{
    position: absolute;
    content: '';
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #10ac84;
    transform: scaleX(0);
    transform-origin: right;
    transition:transform 0.3s linear;
}

nav li a:hover
{
    background-color: rgba(0,0,0,.7);
    color: #10ac84;
    transform: scale(1.1);
}

nav li a:hover::before
{
    transform: scaleX(1);
    transform-origin: left;
}


.scrolling-active{
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
    transition: 1.0s;
}

.scrolling-active li a
{
    color: #10ac84;
}

.scrolling-active .logo{
    color: #10ac84;
    transition: 0.7s;
}

/* =======================end header and nav=============================== */
/* =======================start check box================================== */

label #btn,
label #cancel
{
    float: right;
    width: 24px;
	height:24px;
    margin: 5px 30px 0 0;
    cursor: pointer;
    display: none;
}


#check
{
    display: none;
}
@media (max-width:1118px)
{
    nav .logo
{
    font-size: 1.9em;
    
}
    nav ul li a 
    {
        font-size: 1.2em;
    }
}

@media (max-width:924px)
{
    nav .logo{
        font-size: 1.9em;
    }
    nav ul li a 
    {
        font-size: 1.2em;
        
    }
}

@media (max-width:720px)
{
    nav .logo
    {
        width: 90%;
        margin-left: 40px;
		font-size:1em;
    }
    nav ul 
    {
        position: fixed;
        flex-direction: column;
        align-items: center;
        background-color: #353232;
        width: 100%;
        height: 98vh;
        top: 47px;
        left: -100%;
        transition: all .5s;
        border-radius: 5px;
    }
    nav ul li a 
    {
        font-size: 1em;
        letter-spacing: 4px;
        width: 80px;
        background-color: rgba(0,0,0,.3);
        padding: 2px 70px;
    }
	
    
    label #btn
    {
        display: block;
    }
    #check:checked ~ ul 
    {
        left: 0;
    }
    #check:checked ~ label #btn
    {
        display: none;
    }
    #check:checked ~ label #cancel
    {
        display: block;
    }
}
/* =======================end ...============================= */
/* =======================start hero ====================================== */
header
{
    display: flex;
    justify-content: center;
}
header .hero
{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100vh;
    justify-content: center;
}

header .hero h1
{

    font-size: 5em;
    font-weight: 100;
    color: #fff;
    margin-left: 20px;
    line-height: 90px;

}
header .hero .btns 
{
    display: flex;
    margin: 30px 0;

}
header .hero .btns .btn 
{
    display: flex;
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 1.9em;
    font-weight: 500;
    margin-left: 20px;
    padding: 2px 17px;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    transition: all 0.5s;
}
header .hero .btns .btn::after
{
    position: absolute;
    content: '';
    top: 39px;
    left: 0;
    border-radius: 3px;
    width: 100%;
    height: 4px;
    background-color: #10ac84;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s linear;
}
header .hero .btns .btn:hover
{
    color: #10ac84;
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.75);
}
header .hero .btns .btn:hover::after
{
    transform: scaleX(1);
    transform-origin: left;
}
/* ======================= end hero ============================== */

.information
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    padding: 10px;
    background-color: rgb(151, 151, 151);
}
.information .info
{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 2px solid #fff;
}
@media (max-width:600px) {
    .information .info
    {
        flex-direction: column;
    }
    .information .info .img 
    {
        width: 88%;
    }
    .information .info h1
    {
        text-align: center;
        font-size: .9em;

    }
}
.information .info h1{
    /* display: none; */
	text-align:center;
    width: 75%;
    line-height: 45px;
    padding: 10px;
}

.information .info div
{
    
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.6)), url(../images/bc.jpg );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 40vh;
    border-radius: 6px;
}
.information .second-info div
{
    
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.6)), url(../images/bc2.jpg );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 40vh;
    border-radius: 6px;
}

/* =======================start servecis section============================== */

.section-serv
{
    background: linear-gradient(to bottom,  #76797e, rgb(241, 241, 241));
    padding: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-serv .card-text
{
    margin: 30px 0;
}

/*   end text   */
/* start cards */
.cards
{
    display: flex;
    justify-content: space-around;
    width: 90%;
    flex-wrap: wrap;
}
.card
{
    width: 270px;
    height: 21em;
    background-color: #fff;
    border-radius: 8px;
    transition: 0.7s;
    padding: 25px;
    margin: 20px 5px;
    text-align: center;
    z-index: 5;
}
.card img
{
    width: 70px;
    margin-bottom:10px ;    
}
.card p
{
    font-size: 1.1em;
    line-height: 2;
    width: 85%;
}
.card:hover
{
    transform: scale(1.1);
    transition: 0.7s;
}
/* end cards */
/* start prodects */
.products
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 94vh;
    background-image: url(../images/back-pro.jpg);
    background-size: cover;
    overflow: hidden;
    padding: 100px 20px;
    box-sizing: border-box;
}


.conprod 
{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.conprod .card-pro
{
    width: 317px;
    height: 400px;
    margin: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0 10px 25px rgba(0,0,0,.4);
    backdrop-filter: blur(15px);
    border-radius: 6px;
}
.conprod .card-pro .img-box
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:20px;
    transition: 0.5s ease-in-out;
}

.conprod .card-pro:hover .img-box
{
    transform: translateY(-100px);
}

.conprod .card-pro .img-box img
{
    max-width: 50%;
    margin:0 0 20px;
    transition: 0.5s ease-in-out;
}

.conprod .card-pro:hover .img-box img
{
    transform: translate(-20px, -40px) rotate(39deg) scale(1.4);
}
.conprod .card-pro .img-box h3
{
    color: #fff;
    font-weight: 700;
}

.conprod .card-pro .content-pro
{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;

}
.conprod .card-pro:hover .content-pro
{
    opacity: 1;
    visibility: visible;
    transform: translateY(-25px);
}
.conprod .card-pro .content-pro .size
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;

}
.conprod .card-pro .content-pro .size h3
{
    color: #fff;
    font-weight: 400;
    font-size: .9em;
}
.conprod .card-pro .content-pro .size span
{
    width: 41px;
    height: 26px;
    text-align: center;
    line-height: 24px;
    color: #111;
    background: #fff;
    border-radius: 4px;
    font-size: .9em;
    margin: 0 5px;
    font-weight:500;
    transition: 0.5s ;
    cursor: pointer;

}

.conprod .card-pro .content-pro .size span:hover
{
    background: #10ac84;

}
.conprod .card-pro a
{
    position: relative;
    top: 10px;
    display: inline-block;
    padding: 12px 30px;
    background: #fff;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
}

/* ---------------feedback-------------- */
/*
.feedback
{
    background-color: #2b2a2a48;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.slider
{
    position: relative;
    width: 150px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 45s linear infinite;
}
.slider span .c-feed:hover
{
   transform: translateY(-50px) scale(1.2);
   transition:transform .4s ease-in-out;
}

@keyframes rotate {
    0% {
        transform: perspective(4000px) rotate(0deg);
    }
    100% {
        transform: perspective(4000px) rotateY(-360deg);
    }
}

.slider span 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(500px);
}





.c-feed
{
    width: 225px;
    height: 330px;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    border-radius: .5em;
    padding: 15px 10px;
}

.c-feed p
{
    text-align: center;
    margin-bottom: 10px;
}
.c-feed .person
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:20px 0 -10px 0;

}

.c-feed .person h1
{
    font-size: 1.2em;
    color: #10ac84;
}

.c-feed .person img
{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
*/
/* end feedback */
/* start concat */

.b-contact
{
    display: flex;
    justify-content: center;
    font-size: 1em;
    font-weight:400;
    color: #fff;
    background:linear-gradient(rgba(0,0,0,0.199),rgba(0,0,0,0.1)),url(../images/bg-co.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	padding:30px;
   /* height: 100vh;*/
    

}

.contact
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;    
}

.contact h1
{
    text-align: center;
}


.contact span
{
    
    text-align: center;
    font-size: 1.2em;
    width: 76%;
    left: 50%;
	transform:translateX(-50%, 50%);
	margin-bottom:120px;
    
}

.contact-content:before
{
	position:absolute;
	content:'';
	left:50%;
	width:35%;
	height:4px;
	transform:translateX(-50%);
	border-radius:2px;
	background-color:#d3b56a;
	margin-top:-20px;
	
}

.contact-content
{
    display: flex;
    flex-direction: row;
    width: 100%;
    
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contact-cards
{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 3px;
}

.contact-card
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 300px;
    margin: 30px 0 0 0;
    line-height: 20px;
    background: rgba(0,0,0,.4);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.61);
}

.contact-card img
{
    
    width: 50px;
    margin: 10px 10px 0 10px;
}
.contact-card .ig
{
    display: flex;
    flex-direction:column;
    justify-content: right;
    /* ---------------------------------------------------------------------------------- */
}
/* =================== */

.contact-cards .loc .ig
{
    margin-top: 15px;
    margin-right: 40px;
}

.contact-cards .ph .ig
{
    margin-top: 15px;
    margin-right: 100px;
}

.contact-cards .em .ig
{
    margin-top: 15px;
    margin-right: 4px;
}

.contact-main
{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 370px;
    justify-content: center;
    align-items: center;
	margin-top:25px;
    background: rgba(0,0,0, 0.79);
    border-radius: 7px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

.contact-main input
{
    border: none;
    padding: 10px 12px;
    margin: 8px 0;
    width: 80%;
    border-radius: 4px;
}

.contact-main .msg
{
    height: 70px;
}

.contact-main a
{
    text-decoration: none;
    color: #d3b56a;
    font-size: 1.3em;
    font-weight: 800;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 15px 100px;
    border-radius: 30px;
    background-color: rgb(112, 108, 108);
    border: none;
    transition: 0.7s ease-in-out;
}

.contact-main a:hover,
.contact-main a:active
{
    transform: scale(1.1);
    background-color: rgba(95, 78, 78,.2);
    box-shadow:  10px 10px 10px rgba(214, 214, 214, 0.22);
    transition: 0.7s ease-in-out;
}

@media(max-width:352px)
{
	header .hero h1
{
    font-size: 1em;
}

	
header .hero .btns 
{
    margin: 20px 0;

}
header .hero .btns .btn 
{
   
    font-size: .8em;
    
    padding: 2px 9px;
}

.section-serv .row
{
	width:99%;
}
.section-serv .row .card-h
	{
		font-size: .76em;
	}
.section-serv .row p
{
	font-size:.9em;
    font-weight : 100;
}
	.contact span{
		width:100%;
		font-size:.9em;
	}
	
	.card img
{
    width: 40px;
    margin-bottom:10px ;    
}
	.card p
{
    font-size: 1em;
    line-height:24px;
    width: 90%;
}
.contact-cards
{
    width:100%;
    padding:0;
    
}

.contact-card
{
    
    
    margin: 0;
    width:100%;
	flex-wrap:wrap;
}

.contact-card img
{
    
    width: 20px;
    margin: 10px 10px 0 10px;
}
.contact-card .ig
{
    margin:0;
}


.contact-main
{
   
    width: 100%;

	margin-top:25px;
    
}
.contact-main h1
{
	font-size:.9em;
	margin-bottom:25px;
}
.contact-main input
{
    border: none;
    padding: 10px 12px;
    margin: 8px 0;
    width: 80%;
    border-radius: 4px;
}



.contact-main a
{
    
    font-size: .8em;
    padding: 5% 20%;
    letter-spacing: 2px;
    
    
}


	
}